* text=auto !eol
Bcp/Makefile.am -text
Bcp/configure.ac -text
Bcp/doc/man.pdf svneol=native#unset
Bcp/inc/config_bcp.h.in -text
Bcp/src/include/BcpConfig.h -text
/Externals -text
/Makefile.am -text
/configure.ac -text
