* text=auto !eol
Bcp/Makefile.am -text
Bcp/Makefile.in -text
Bcp/bcp_addlibs.txt.in -text
Bcp/configure -text
Bcp/configure.ac -text
Bcp/doc/man.pdf svneol=native#unset
Bcp/examples/BAC/AUTHORS -text
Bcp/examples/BAC/INSTALL -text
Bcp/examples/BAC/LICENSE -text
Bcp/examples/BAC/LP/BB_lp.cpp -text
Bcp/examples/BAC/Makefile.in -text
Bcp/examples/BAC/Member/BB.cpp -text
Bcp/examples/BAC/Member/BB_cut.cpp -text
Bcp/examples/BAC/Member/BB_init.cpp -text
Bcp/examples/BAC/Member/BB_user_data.cpp -text
Bcp/examples/BAC/README -text
Bcp/examples/BAC/TM/BB_tm.cpp -text
Bcp/examples/BAC/bac.lp -text
Bcp/examples/BAC/bac.mps -text
Bcp/examples/BAC/bac.pdf -text
Bcp/examples/BAC/bb.par -text
Bcp/examples/BAC/examplefiles.txt -text
Bcp/examples/BAC/include/BB.hpp -text
Bcp/examples/BAC/include/BB_cut.hpp -text
Bcp/examples/BAC/include/BB_init.hpp -text
Bcp/examples/BAC/include/BB_lp.hpp -text
Bcp/examples/BAC/include/BB_tm.hpp -text
Bcp/examples/BAC/include/BB_user_data.hpp -text
Bcp/examples/BAC/testfiles.txt -text
Bcp/examples/MCF-1/LP/MCF1_lp.cpp -text
Bcp/examples/MCF-1/MCF1.tex -text
Bcp/examples/MCF-1/Makefile.in -text
Bcp/examples/MCF-1/Member/MCF1.cpp -text
Bcp/examples/MCF-1/Member/MCF1_data.cpp -text
Bcp/examples/MCF-1/Member/MCF1_var.cpp -text
Bcp/examples/MCF-1/TM/MCF1_tm.cpp -text
Bcp/examples/MCF-1/examplefiles.txt -text
Bcp/examples/MCF-1/frac2.dat -text
Bcp/examples/MCF-1/frac3.dat -text
Bcp/examples/MCF-1/include/MCF1_data.hpp -text
Bcp/examples/MCF-1/include/MCF1_init.hpp -text
Bcp/examples/MCF-1/include/MCF1_lp.hpp -text
Bcp/examples/MCF-1/include/MCF1_par.hpp -text
Bcp/examples/MCF-1/include/MCF1_tm.hpp -text
Bcp/examples/MCF-1/include/MCF1_var.hpp -text
Bcp/examples/MCF-1/mcf.par -text
Bcp/examples/MCF-1/small -text
Bcp/examples/MCF-1/small.dat -text
Bcp/examples/MCF-2/LP/MCF2_lp.cpp -text
Bcp/examples/MCF-2/MCF2.tex -text
Bcp/examples/MCF-2/Makefile.in -text
Bcp/examples/MCF-2/Member/MCF2.cpp -text
Bcp/examples/MCF-2/Member/MCF2_data.cpp -text
Bcp/examples/MCF-2/Member/MCF2_var.cpp -text
Bcp/examples/MCF-2/TM/MCF2_tm.cpp -text
Bcp/examples/MCF-2/examplefiles.txt -text
Bcp/examples/MCF-2/frac2.dat -text
Bcp/examples/MCF-2/frac3.dat -text
Bcp/examples/MCF-2/include/MCF2_data.hpp -text
Bcp/examples/MCF-2/include/MCF2_init.hpp -text
Bcp/examples/MCF-2/include/MCF2_lp.hpp -text
Bcp/examples/MCF-2/include/MCF2_par.hpp -text
Bcp/examples/MCF-2/include/MCF2_tm.hpp -text
Bcp/examples/MCF-2/include/MCF2_var.hpp -text
Bcp/examples/MCF-2/mcf.par -text
Bcp/examples/MCF-2/small -text
Bcp/examples/MCF-2/small.dat -text
Bcp/examples/MCF-3/LP/MCF3_lp.cpp -text
Bcp/examples/MCF-3/MCF3.tex -text
Bcp/examples/MCF-3/Makefile.in -text
Bcp/examples/MCF-3/Member/MCF3.cpp -text
Bcp/examples/MCF-3/Member/MCF3_data.cpp -text
Bcp/examples/MCF-3/Member/MCF3_var.cpp -text
Bcp/examples/MCF-3/TM/MCF3_tm.cpp -text
Bcp/examples/MCF-3/examplefiles.txt -text
Bcp/examples/MCF-3/frac2.dat -text
Bcp/examples/MCF-3/frac3.dat -text
Bcp/examples/MCF-3/include/MCF3_data.hpp -text
Bcp/examples/MCF-3/include/MCF3_init.hpp -text
Bcp/examples/MCF-3/include/MCF3_lp.hpp -text
Bcp/examples/MCF-3/include/MCF3_par.hpp -text
Bcp/examples/MCF-3/include/MCF3_tm.hpp -text
Bcp/examples/MCF-3/include/MCF3_var.hpp -text
Bcp/examples/MCF-3/mcf.par -text
Bcp/examples/MCF-3/small -text
Bcp/examples/MCF-3/small.dat -text
Bcp/examples/MaxCut/CG/MC_cutgen.cpp -text
Bcp/examples/MaxCut/CG/MC_ising_cycles.cpp -text
Bcp/examples/MaxCut/CG/MC_shortest_path_cycle.cpp -text
Bcp/examples/MaxCut/Generators/Makefile -text
Bcp/examples/MaxCut/Generators/gen1.cpp -text
Bcp/examples/MaxCut/Generators/gen2.cpp -text
Bcp/examples/MaxCut/Generators/gen3.cpp -text
Bcp/examples/MaxCut/Generators/gen4.cpp -text
Bcp/examples/MaxCut/INSTALL -text
Bcp/examples/MaxCut/LP/MC_lp.cpp -text
Bcp/examples/MaxCut/LP/MC_lp_branch.cpp -text
Bcp/examples/MaxCut/LP/MC_lp_param.cpp -text
Bcp/examples/MaxCut/Makefile.in -text
Bcp/examples/MaxCut/Member/MC.cpp -text
Bcp/examples/MaxCut/Member/MC_INST.cpp -text
Bcp/examples/MaxCut/Member/MC_cut.cpp -text
Bcp/examples/MaxCut/Member/MC_init.cpp -text
Bcp/examples/MaxCut/Member/MC_kruskal.cpp -text
Bcp/examples/MaxCut/Member/MC_mst_heur.cpp -text
Bcp/examples/MaxCut/Member/MC_solution.cpp -text
Bcp/examples/MaxCut/TM/MC_tm.cpp -text
Bcp/examples/MaxCut/TM/MC_tm_param.cpp -text
Bcp/examples/MaxCut/examplefiles.txt -text
Bcp/examples/MaxCut/include/MC.hpp -text
Bcp/examples/MaxCut/include/MC_cut.hpp -text
Bcp/examples/MaxCut/include/MC_init.hpp -text
Bcp/examples/MaxCut/include/MC_lp.hpp -text
Bcp/examples/MaxCut/include/MC_lp_param.hpp -text
Bcp/examples/MaxCut/include/MC_solution.hpp -text
Bcp/examples/MaxCut/include/MC_tm.hpp -text
Bcp/examples/MaxCut/include/MC_tm_param.hpp -text
Bcp/examples/MaxCut/junger1 -text
Bcp/examples/MaxCut/junger1.par -text
Bcp/inc/config_bcp.h.in -text
Bcp/src/Makefile.am -text
Bcp/src/Makefile.in -text
Bcp/src/include/BcpConfig.h -text
Bcp/test/BAC/Makefile.am -text
Bcp/test/BAC/Makefile.in -text
/Externals -text
/Makefile.am -text
/Makefile.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
